<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="On"/>
    </system.web>
    <system.webServer>
		<httpErrors existingResponse="PassThrough" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="209715200"/>
				<!--50MB-->
			</requestFiltering>
		</security>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?_url=/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
		<staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-woff2" />
        </staticContent>
    </system.webServer>
</configuration>